.card-login {
    background-color: var(--middleground);
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.21);
}

@media (prefers-color-scheme: dark) {
    .card-login {
        box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.56);
        -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.56);
    }
}
