.event-primary-list-item {
    color: var(--foreground);

    & .fc-daygrid-event-dot {
        border-color: var(--primary);
    }
}

.event-primary-list-item:hover {
    background-color: var(--background);
}

.event-primary-block {
    background-color: var(--primary);
    border-color: var(--primary);
    padding-left: 6px;
    color: var(--foreground);
}

.fc-popover-body .fc-daygrid-event-harness .event-primary-block {
    border-radius: 3px;
    margin-left: 0;
}

.fc-button {
    transition: 0.2s;
}

.fc-daygrid-day-frame,
.fc-col-header-cell {
    background-color: var(--middleground);
}

@media (prefers-color-scheme: dark) {
    .event-primary-list-item:hover {
        background-color: #000;
    }
}

.fc-openModalButton-button {
    background-color: var(--secondaryAccent) !important;
    border-color: var(--secondaryAccent) !important;
    color: #f1f1f1 !important;
}

.fc-openModalButton-button:hover {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.fc-button-primary:focus {
    box-shadow: none !important;
}

.fc .fc-button-primary:hover:not(:disabled) {
    color: #f1f1f1
}

/* Style the entire header */
/* .fc-toolbar {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
} */

/* Style header buttons */
/* .fc-toolbar .fc-button {
    background-color: var(--secondary);
    color: var(--foreground);
    border-color: var(--secondary);
} */

/* Hover effect for buttons */
/* .fc-toolbar .fc-button:hover {
    border-color: var(--secondaryAccent);
    background-color: var(--secondaryAccent);
} */

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    color: #f1f1f1;
}
