@import 'tailwindcss';

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

:root {
    --background: #fff;
    --middleground: #fdfdfd;
    --foreground: #1a181b;
    --primary: #2DCB77; /* A more vibrant green with increased saturation */
    --primaryAccent: #1C7F53; /* Deeper green for better contrast */

    --secondary: #FF4F5B; /* Bright coral red with more saturation */
    --secondaryAccent: #E03333; /* Slightly darker, more vibrant red */
}

.bg-primary {
    background-color: var(--primary);
}

button.bg-primary:hover,
a.bg-primary:hover {
    background-color: var(--primaryAccent);
}

.text-primary {
    color: var(--primary);
}

button.text-primary:hover,
a.text-primary:hover {
    color: var(--primaryAccent);
}

.event-primary-list {
    color: var(--foreground);

    & .fc-daygrid-event-dot {
        border-color: var(--primary);
    }
}

.event-primary-block {
    background-color: var(--primary);
    border-color: var(--primary);
    padding-left: 6px;
    color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1a181b;
        --middleground: #313131;
        --foreground: #fff;
        --primary: #27d624;      /* Vibrant neon green */
        --primaryAccent: #27f21f; /* Slightly darker green for hover/focus */
    
        --secondary: #7a159b;      /* Bold, energetic purple */
        --secondaryAccent: #911be0; /* A muted purple for interactive states */
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
